doctype 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TwiThinks Stock Tracker 
    :stylus
      @css {
        @import url(http://fonts.googleapis.com/css?family=Droid+Sans|Roboto+Condensed:300,400);
      }
      
      $font-base = 'Droid Sans', 'Ubuntu', Arial, sans-serif 
      $font-heading = 'Roboto Condensed', Helvetica, sans-serif
      
      body
        font-family $font-base
      h1, h2
        font-family $font-heading
        font-weight 300
      .overview
        font-size 1.2em 
      ul
        list-style-type square
      abbr
        border-bottom 1px dotted
        cursor help
      .toggle, #try-chime
        font-family $font-base
        font-size 1em
        padding 5px
        margin 5px
        border 2px solid #666
        border-radius 3px
        cursor pointer
      .toggle.on
        background-color steelblue
        color white
      #try-chime
        margin 0
        padding 2px
      a
        text-decoration none
        color gray
        &:visited
          color gray
        &:hover
          color steelblue
      
  body
    h1 TwiThinks Stock Tracker
    section (version 0.1.2-alpha)
    p.overview
      | This tool aims to detect market-moving events through 
      abbr(title='status messages on Twitter') tweets
      | , and deliver real-time alerts upon detection.

    section
      h2 Note

      | You will need 
      a(href='//www.google.com/chrome/') Google Chrome
      |  on a desktop/laptop to see the full functionality. 
      | We observed that AdBlock or AdBlock Plus disrupted some functionality of the site, please disable them for this domain.

    section
      h2 Setup
      p Click the toggle below to turn on 
        abbr(title='a little pop-up on your desktop') desktop notifications
        |  for this site (you will need to grant permission in a popup once for all). 
      p If you don't want to see desktop notifications anymore, you can use the toggle turn them off :(
      p 
        | Click 
        span.button#try-chime chime
        |  to hear the DING for event alerts. (We are always looking for better chimes, let us know if you want to make us one!)

      button.notification.toggle Toggle Desktop Notifications
      button.chime.toggle Toggle Chime

    section 
      h2 Available stocks
      ul
        each company, symbol in symbols
          li 
            a(href='/stream/' + symbol, target='_blank')= company

      | We are adding more to this list, let us know what you want to see next.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/js/draftHtml5Apis.js')
    script(src='/js/utils.js')
    //- using Google universal analytics, provides ga object
    include _ga
    script.
      function updateNotificationToggle () {
        var toggle;
        if (window.Notifications 
          && window.Notifications.checkPermission() == 0 
          && getPref('show notifications', 'on') == 'on')
          toggle = true;
        else
          toggle = false;
        $('.notification.toggle').toggleClass('on', toggle);
      }
      
      function updateChimeToggle () {
        var toggle;
        if (window.AudioContext && getPref('play chimes', 'on') == 'on')
          toggle = true;
        else
          toggle = false;
        $('.chime.toggle').toggleClass('on', toggle);
      }
      
    script.
      normalizeApis();
      var audio = initAudio(),
          tracker,
          t0 = Date.now();
      // init GA tracker
      ga(function() {
        tracker = ga.getByName('t0');
      });
      $(window).on('beforeunload', function () {
        ga('send', 'event', {
          eventCategory: tracker.get('clientId'),
          eventAction: 'page-open-for:' + (Date.now() - t0),
          eventLabel: '/',
        });
        // log alert settings
        ga('send', 'event', {
          eventCategory: tracker.get('clientId'),
          eventAction: 'notification-setting:' + getPref('show notifications', 'on'),
          eventLabel: '/',
        });
        ga('send', 'event', {
          eventCategory: tracker.get('clientId'),
          eventAction: 'chime-setting:' + getPref('play chimes', 'on'),
          eventLabel: '/',
        });
      });
      
      // wire up UI
      $('.notification.toggle').click(function () {
        if (window.Notifications) {
          if (window.Notifications.checkPermission() != 0) {
            window.Notifications.requestPermission(function() {
              setPref('show notifications', window.Notifications.checkPermission() == 0 ? 'on' : 'off');
              console.log('permission granted: ', window.Notifications.checkPermission() == 0);
              updateNotificationToggle();
            });
          } else if (window.Notifications.checkPermission() == 0) {
            setPref('show notifications', getPref('show notifications', 'on') == 'on' ? 'off' : 'on');
            updateNotificationToggle();
          }
        }
        ga('send', 'event', {
            eventCategory: tracker.get('clientId'),
            eventAction: 'click',
            eventLabel: '/notification-toggle',
        });
      });
      
      $('.chime.toggle').click(function () {
        setPref('play chimes', getPref('play chimes', 'on') == 'on' ? 'off' : 'on');
        updateChimeToggle();
        ga('send', 'event', {
            eventCategory: tracker.get('clientId'),
            eventAction: 'click',
            eventLabel: '/chime-toggle',
        });
      });
      
      $('#try-chime').click(function () {
        if (audio.ready) {
          playAudio(audio.ctx, audio.chime);
          ga('send', 'event', {
            eventCategory: tracker.get('clientId'),
            eventAction: 'click',
            eventLabel: '/try-chime',
          });
        }
      });
      
      // update toggles
      updateNotificationToggle();
      updateChimeToggle();
