!!! 5
html
  head
    title TwiThinks Stock Tracker
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    link(href='/css/vendor/bootstrap.css', rel='stylesheet', media='screen')
  body
    .container
      h1 TwiThink Stock Tracker

    script(src='/js/vendor/jquery-1.10.2.min.js')
    script(src='/js/vendor/bootstrap.min.js')
