doctype 5
html
  head
    meta(charset='utf-8')
    title #{symbol} stream
    link(rel='stylesheet', href='/css/stream.css')
  body
    section#panel
      ul#actions
        li
          a#opt-in(href='#') opt in for desktop notificaitons
        li
          a#opt-out(href='#') opt out
        li
          a#new-notification(href='#') new notification
        li
          a#ringtone(href='#') play ringtone
      section
        | Tweet volume:
        span#volume
        br
        | updated at 
        span#volume-time
      section
        | Latest received alert:
        br
        span#alert

    section#tweet-stream

    script(src='/socket.io/socket.io.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//platform.twitter.com/widgets.js')

    script(type='text/javascript').
      // Set the name of the hidden property and the change event for visibility
      var hidden, visibilityChange;
      if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
        hidden = "hidden";
        visibilityChange = "visibilitychange";
      } else if (typeof document.mozHidden !== "undefined") {
        hidden = "mozHidden";
        visibilityChange = "mozvisibilitychange";
      } else if (typeof document.msHidden !== "undefined") {
        hidden = "msHidden";
        visibilityChange = "msvisibilitychange";
      } else if (typeof document.webkitHidden !== "undefined") {
        hidden = "webkitHidden";
        visibilityChange = "webkitvisibilitychange";
      }
    script.
      var pathParts = document.location.pathname.split('/'),
          symbol = pathParts[pathParts.length-1];

    script.
      var flash = {
        version: '0.0.0',
        titles: [$('title').text()],
        current_title_index: 0,
        flash_id: null,
        interval: 1000,
        element: $('title'),
      };
      // low-level methods
      flash.pause = function() {
        if (this.flash_id) {
          clearInterval(this.flash_id);
          this.flash_id = null;
        }
      };

      flash.next = function() {
        // console.log(this);
        this.current_title_index = (this.current_title_index + 1) % this.titles.length;
        this.element.text(this.titles[this.current_title_index]);
      };

      // high-level methods
      flash.cycle = function(interval) {
        if (!interval)
        interval = this.interval;
        this.pause();
        _this = this;
        this.flash_id = setInterval(function() { _this.next(); }, interval);
      };

      flash.stop_and_restore = function() {
        this.pause();
        this.titles.splice(1, this.titles.length-1);
        this.element.text(this.titles[0]);
      };

      flash.flash = function(title, interval) {
        if (!interval)
        interval = this.interval;
        this.titles.push(title);
        this.cycle(interval);
      };
    
    script(type='text/javascript').
      function init() {
        // notification API setup
        window.Notifications = window.Notifications || window.webkitNotifications;
        if (!window.Notifications)
          alert('Notifications API is not supported in this browser. Notification functionality will be limited.');
        // Audio API setup
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        if (!window.AudioContext)
          alert('Web Audio API is not supported in this browser. Notifications will be muted.');
      }

      function trim(text, lineWidth) {
        //- if (text.length < lineWidth)
        //- return text;
        //- var lines = [];
        //- for (var i=0; i<text.length/lineWidth+1; i++) {
        //-   lines.push(text.substr(i*lineWidth, lineWidth));
        //- }
        //- return lines.join('\\n');
        return text;
      }

      function request_permission(callback) {
        if (window.Notifications.checkPermission() != 0)
          window.Notifications.requestPermission(function() {
            var p = window.Notifications.checkPermission();
            console.log('permission status: ', p);
            callback(p == 0);
          });
         else
          callback(true);
      }

      function click_n() {
        console.log('clicked');
        window.focus();
        this.close();
      }

      function play_audio(ctx, buffer) {
        var source = ctx.createBufferSource();
        source.buffer = buffer;
        source.connect(ctx.destination);
        source.start(0);
      }

    script.
      // user settings
      var show_notifications = true,
          mute = false;
    script.
      // UI parameters
      var max_notification_title_len = 30,
          max_notification_body_len = 35,
          flashing_interval = 1000,  // duration of a title in ms
          original_title = $('title').text();
      init();
      // context variables
      var _show = window.Notifications.checkPermission() == 0,
          actx = new window.AudioContext(); // Web Audio context
      // load ringtone
      var ringtone = null;
      function load_audio(ctx, url) {
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.responseType = 'arraybuffer';
        // Decode asynchronously
        request.onload = function() {
          ctx.decodeAudioData(request.response, function(buf) {
            ringtone = buf;
          });
        }
        request.send();
      }
      load_audio(actx, '/sound/80921__justinbw__buttonchime02up.wav');
      // generate notification
      function notify(symbol) {
      if (_show && document[hidden]) {
        var n = new Notification(symbol + '-alert', {
            body: 'possible market movement detected from ' + symbol + ' related tweets.',
            tag: symbol
        });
        n.onclick = click_n;
        n.show();
      }
      if (!mute)
        play_audio(actx, ringtone);
        flash.flash('alert: ' + symbol);
      }
      // wire up UI
      $('#opt-in').click(function() {
        request_permission(function(t) {
          _show = t && show_notifications;
        });
      });
      $('#opt-out').click(function() {
        _show = false;
      });
      $('#new-notification').click(function () {notify('test');});
      $('#ringtone').click(function() {
        if (!mute) {
          play_audio(actx, ringtone);
        }
      });
      // stop flashing title
      $(document).on(visibilityChange, function () {
        if (!document[hidden]) {
          console.log('focused');
          flash.stop_and_restore();
        }
      });
    
    script.
      // realtime streams
      var alert = io.connect(document.location.origin + '/alert'),
          feed = io.connect(document.location.origin + '/' + symbol);
    
      feed.on('new announcement', function (data) {
        console.log(data);
        
        setTimeout(function() {
          $('.announcement').hide();
          }, 5000);
      });

      feed.on('new tweet', function (data) {
        console.log(data);
        $('#tweet-stream').prepend(
          $(data.html).attr('data-theme', 'dark')
            .attr('data-dnt', 'true')
            .attr('width', '500')
        );
        twttr.widgets.load();
      });
      
      feed.on('new volume', function (data) {
        console.log(data);
        $('#volume').text(data.volume);
        $('#volume-time').text(new Date(data.timestamp));
      });
      
      alert.on('new alert', function (data) {
        console.log(data);
        $('#alert').text(new Date(data.timestamp));
        // notifications
        notify(data.symbol);
      });
